# Table of Contents
 <p><div class="lev1 toc-item"><a href="#Cеминар-3.-Методы-обработки-данных" data-toc-modified-id="Cеминар-3.-Методы-обработки-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Cеминар 3. Методы обработки данных</a></div><div class="lev1 toc-item"><a href="#Загрузка-данных-и-&quot;выбор&quot;-задачи" data-toc-modified-id="Загрузка-данных-и-&quot;выбор&quot;-задачи-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Загрузка данных и "выбор" задачи</a></div><div class="lev2 toc-item"><a href="#Предобработка" data-toc-modified-id="Предобработка-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Предобработка</a></div><div class="lev3 toc-item"><a href="#Новая-категориальная-переменная" data-toc-modified-id="Новая-категориальная-переменная-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Новая категориальная переменная</a></div><div class="lev3 toc-item"><a href="#Label-encoder" data-toc-modified-id="Label-encoder-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Label encoder</a></div><div class="lev3 toc-item"><a href="#One-hot-encoding" data-toc-modified-id="One-hot-encoding-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>One-hot-encoding</a></div><div class="lev3 toc-item"><a href="#Более-умная-кодировка" data-toc-modified-id="Более-умная-кодировка-2.1.4"><span class="toc-item-num">2.1.4&nbsp;&nbsp;</span>Более умная кодировка</a></div><div class="lev4 toc-item"><a href="#Среднее-по-категории" data-toc-modified-id="Среднее-по-категории-2.1.4.1"><span class="toc-item-num">2.1.4.1&nbsp;&nbsp;</span>Среднее по категории</a></div><div class="lev4 toc-item"><a href="#Вероятность-категории" data-toc-modified-id="Вероятность-категории-2.1.4.2"><span class="toc-item-num">2.1.4.2&nbsp;&nbsp;</span>Вероятность категории</a></div><div class="lev4 toc-item"><a href="#TF-IDF-для-категориальных-переменных" data-toc-modified-id="TF-IDF-для-категориальных-переменных-2.1.4.3"><span class="toc-item-num">2.1.4.3&nbsp;&nbsp;</span>TF-IDF для категориальных переменных</a></div><div class="lev3 toc-item"><a href="#Разложение-количественной-переменной-в-&quot;корзины&quot;" data-toc-modified-id="Разложение-количественной-переменной-в-&quot;корзины&quot;-2.1.5"><span class="toc-item-num">2.1.5&nbsp;&nbsp;</span>Разложение количественной переменной в "корзины"</a></div><div class="lev1 toc-item"><a href="#Собственно,-кластеризация" data-toc-modified-id="Собственно,-кластеризация-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Собственно, кластеризация</a></div>

# Cеминар 3. Методы обработки данных

Сегодня шний семинар будет более практическим. На примере одного набора данных мы постараемся охватить как можно больше методов предобработки данных.

Преждем чем приступать к обработка, надо определиться с тем, какую именно задачу мы будем решать.

In [49]:
import pandas as pd
import scipy
import numpy as np
import matplotlib.pyplot as plt

plt.style.use('ggplot')

%matplotlib inline

plt.rcParams['figure.figsize'] = (10, 6)

# Загрузка данных и "выбор" задачи

In [50]:
df_offers = pd.read_excel("./WineKMC.xlsx", sheetname=0)
df_offers.columns = ["offer_id", "campaign", "varietal", "min_qty", "discount", "origin", "past_peak"]
df_offers.head()

,offer_id,campaign,varietal,min_qty,discount,origin,past_peak
0,1,January,Malbec,72,56,France,False
1,2,January,Pinot Noir,72,17,France,False
2,3,February,Espumante,144,32,Oregon,True
3,4,February,Champagne,72,48,France,True
4,5,February,Cabernet Sauvignon,144,44,New Zealand,True

In [51]:
df_transactions = pd.read_excel("./WineKMC.xlsx", sheetname=1)
df_transactions.columns = ["customer_name", "offer_id"]
df_transactions.head()

  customer_name  offer_id
0         Smith         2
1         Smith        24
2       Johnson        17
3       Johnson        24
4       Johnson        26

Данные состоят из двух таблиц - транзакции по промо акциям и данные о самих промо-акциях. В исходных данных нет никакой разметки, и придумывать её тоже не хочется. Давайте попробуем решить задачу кластеризации

In [52]:
df = df_transactions.merge(df_offers, on='offer_id')

In [53]:
df.head()

,customer_name,offer_id,campaign,varietal,min_qty,discount,origin,past_peak
0,Smith,2,January,Pinot Noir,72,17,France,False
1,Rodriguez,2,January,Pinot Noir,72,17,France,False
2,Martin,2,January,Pinot Noir,72,17,France,False
3,Jackson,2,January,Pinot Noir,72,17,France,False
4,Campbell,2,January,Pinot Noir,72,17,France,False

## Предобработка

### Новая категориальная переменная

In [ ]:
df.loc[:, 'varietal + origin'] = df.loc[:, 'varietal'] + '+' + df.loc[:, 'origin']

In [16]:
df.head()

,customer_name,offer_id,campaign,varietal,min_qty,discount,origin,past_peak,varietal + origin
0,Smith,2,January,Pinot Noir,72,17,France,False,Pinot Noir+France
1,Rodriguez,2,January,Pinot Noir,72,17,France,False,Pinot Noir+France
2,Martin,2,January,Pinot Noir,72,17,France,False,Pinot Noir+France
3,Jackson,2,January,Pinot Noir,72,17,France,False,Pinot Noir+France
4,Campbell,2,January,Pinot Noir,72,17,France,False,Pinot Noir+France

In [21]:
# Для универсальности можно реализовать функцию
def make_conj_feature(df, feature1, feature2):
    new_feature_name = feature1 + '_' + feature2
    df.loc[:, new_feature_name] = df.loc[:, feature1] + '+' + df.loc[:, feature2]
    return df

df = make_conj_feature(df, 'varietal', 'origin')

# Но лучше так
df = df.pipe(make_conj_feature, 'varietal', 'origin')

In [22]:
df.head()

,customer_name,offer_id,campaign,varietal,min_qty,discount,origin,past_peak,varietal + origin,varietal+origin,varietal_origin
0,Smith,2,January,Pinot Noir,72,17,France,False,Pinot Noir+France,Pinot Noir+France,Pinot Noir+France
1,Rodriguez,2,January,Pinot Noir,72,17,France,False,Pinot Noir+France,Pinot Noir+France,Pinot Noir+France
2,Martin,2,January,Pinot Noir,72,17,France,False,Pinot Noir+France,Pinot Noir+France,Pinot Noir+France
3,Jackson,2,January,Pinot Noir,72,17,France,False,Pinot Noir+France,Pinot Noir+France,Pinot Noir+France
4,Campbell,2,January,Pinot Noir,72,17,France,False,Pinot Noir+France,Pinot Noir+France,Pinot Noir+France

### Label encoder

Самый бездарный кодировщик.

Пожалуй имеет смысл, только если вы заранее можете задать категории интерпретируемое числовое значение.

### One-hot-encoding

Как вы поняли, нужно было от строк перейти к числам и только потом использовать OneHot...

Можно сократить! Использовав DictVectorizer

### Более умная кодировка

#### Среднее по категории

Давайте закодируем категорию средним (например) значением какой-нибудь связяной с ней величины

#### Вероятность категории

In [ ]:
# ?

#### TF-IDF для категориальных переменных

### Разложение количественной переменной в "корзины"

# Собственно, кластеризация

Теперь, используя весь этот багаж знаний, кластеризуйте-таки покупателей и постарайтесь проинтерпретировать кластеры

Можно использовать самый наивный метод - метод kMeans. Но лучше, если вы с ним уже знакомы, аггломеративную кластеризацию.